__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.venv/
venv/
conda-env/
.DS_Store

*.log
*.out
*.err
slurm-*.out

data/
outputs/
results/
tmp/
scratch/
logs/

# secrets / never commit
hpc/edl_token.txt
*.edl_token
.pytest_cache/
